appdirs==1.4.4
asgiref==3.8.1
distlib==0.3.1
Django==5.1.4
django-jazzmin==3.0.1
filelock==3.0.12
mccabe==0.6.1
pillow==11.1.0
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
typing_extensions==4.12.2
wrapt==1.12.1
